@import 'fonts';
@import 'variables';
@import 'buttons';
@import 'forms';
@import "~bootstrap/scss/bootstrap.scss";
@import 'form/all';
@import 'swiper/all';
@import 'animation/all';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix {
    display: inline-block;
}
:root {
    font-size: 16px;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

html, body {
    font-size: 16px;
    line-height: 138%;
    position: relative;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

h1, .h1 {
    //42px
    font-size: 2.625rem;
    font-family: $font-family-heading;
    font-weight: 400;
    margin-bottom: 0;
    //32px
    @include media-breakpoint-down(sm) {
		font-size: 2rem;
	}
}

h2, .h2 {
    //32px
    font-size: 2rem;
    font-family: $font-family-heading;
    font-weight: 400;
    margin-bottom: 0;
    //26px
    @include media-breakpoint-down(sm) {
		font-size: 1.625rem;
	}
}

h3, .h3 {
    //22px
    font-size: 1.375rem;
    font-family: $font-family-heading;
    font-weight: 400;
    margin-bottom: 0;
    //20px
    @include media-breakpoint-down(sm) {
		font-size: 1.25rem;
	}
}

h4, .h4 {
    //16px
    font-size: 1rem;
    font-family: $font-family-heading;
}

.subtitle {
    //16px
    font-size: 1rem;
    font-weight: 700;
}
.paragraph--large {
    //16px
    font-size: 1rem;
}

.paragraph--small {
    //14px
    font-size: 0.875rem;
}

.paragraph--detail {
    //12px
    font-size: 0.75rem;
}

.d-desktop {
    display: block !important;

    &-flex {
        display: flex !important;
    }

    @include media-breakpoint-down(sm) {
        display: none !important;

        &-flex {
            display: none !important;
        }
	}
}

.d-desktop-lg {
    display: block !important;

    &-flex {
        display: flex !important;
    }

    @include media-breakpoint-down(lg) {
        display: none !important;
        
        &-flex {
            display: none !important;
        }
	}
}

.d-mobile {
    display: block !important;

    &-flex {
        display: flex !important;
    }

    @include media-breakpoint-up(lg) {
        display: none !important;
        
        &-flex {
            display: none !important;
        }
	}
}

.object-fit {
    &-contain {
        object-fit: contain !important;
    }
    &-cover {
        object-fit: cover !important;
    }
}

.position-absolute-0000 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.w-fit-content {
    width: fit-content !important;
}

.max-width-750 {
    max-width: 750px;
}

.hover-text-decor {
    text-decoration: none;
    &:hover {
        text-decoration: underline !important;
    }
}

.__block-title {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.note {
	font-size: 0.75rem;
	color: var(--text-secondary);
}

[data-show-more-less] {
    * {
        display: inline;
    }
    .more-text {
        display: none;
    }
}

.color-primary {
    color: var(--body-color)
}

.color-secondary {
    color: var(--text-secondary)
}

.__richtext {
    max-width: 800px;
    margin: 0 auto;
    h2, h3, h4, h5, h6 {
        color: var(--body-color);
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 32px;
    }

    img {
        width: 100% !important;
        height: auto !important;
        border-radius: $border-radius;
        margin-bottom: 5px;
    }
}

.opening-house {
	h6 {
		span {
			font-weight: 400;
			font-size: 0.875rem;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			display: grid;
			grid-template-columns: 100px 300px;
      @include media-breakpoint-down(sm) {
				grid-template-columns: 100px 250px;
			}
		}
	}
    .hoursAndExtraText {
        text-overflow: ellipsis;
        max-width: 260px;
        white-space: nowrap;
        overflow: hidden;
    }
}

.__404 {
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 60px 15px 100px;
	min-height: 320px;
	text-align: center;

	@include media-breakpoint-up(lg) {
		padding: 80px 15px 300px;
		min-height: 500px;
	}
}
