doctype html
html(lang=iso)
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="../../assets/images/favicon.ico", type="image/x-icon")
        meta(name="description" content="This is a description")
        meta(name="keywords" content="This is keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:site_name" content="This is og data")
        meta(property="og:title" content="This is og data")
        meta(property="og:description" content="This is og data")
        meta(property="og:type" content="website")

        block meta
        block css
        block structuredschema
    block page
    body
        //- include /components/header/view.pug
        .__content
            block content
        //- include /components/footer/view.pug
        block js